aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
dotenv
faiss-cpu
fastapi
frozenlist
greenlet
h11
httpcore
httpx
httpx-sse
idna
jiter
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
marshmallow
multidict
mypy-extensions
numpy
openai
orjson
packaging
pip
propcache
pydantic
pydantic_core
pydantic-settings
python-dotenv
PyYAML
regex
requests
requests-toolbelt
sniffio
SQLAlchemy
starlette
tenacity
tiktoken
tqdm
typing_extensions
typing-inspect
urllib3
uvicorn
yarl
zstandard